<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="shorcut icon" type="image/png" href="/gs/office683_logo.png" />

  <title>Register User | Office683</title>
  <style>
    @font-face {
      font-family: "Quicksand";
      src: url("/gs/Quicksand-Regular.ttf");
    }
    body {
      font-family: Quicksand;
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
    }
  </style>
</head>
<body>
  <h1>Successful Registration</h1>
  <p>Go to <a href="/">Home Page</a> and sign in </p>
  <p>Or go to <a href="/register">Register</a> and register new user</p>
